{% extends 'main.html' %}
{% block content%}


<div class="doc_patient_req">
    {% for field in form %}
    <a href="{% url 'check' field.id %}">
        <div class="child_doc_pat">
            <p class="child_doc_pat_left">You have to take {{field.Remainder_message}} at {{field.Remainder_date}},{{field.Remainder_time}}</p>
            <!-- <label for="username">{{field.Patient_name}}</label> -->
            <!-- <p class="child_doc_pat_right">{{field.message_to_doc}}</p> -->
        </div>
    </a>
    {%endfor%}

</div>



{% endblock %}