<nav>
    <div class="left-side">
      <a href="#">TAHC</a>
    </div>
    <div class="right-side">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'predict'  %}" id="login-link">Covid?</a>
      
      <a href="{% url 'see_remainder' %}">Remainder</a>
      <a href="{% url 'consult_doctor' %}">Consult Doctor</a>
      <a href="{% url 'all_medical_history' %}">Medical History</a>
      {% if request.user.is_authenticated %}
      <a href="{% url 'log_out'  %}" id="login-link">LogOut</a>
      {%else %}
      <a href="{% url 'log_in'  %}" id="login-link">LogIn</a>
      {% endif%}


    </div>
  </nav>
